@import "./_variables.scss";

@import "./layout.scss";
@import "./components/text.scss";
@import "./components/links.scss";
@import "./components/header.scss";
@import "./components/buttons.scss";
@import "./components/ratings.scss";

@import "./pages/home.scss";

body {
  font-family: "PingFang SC";
  color: $color-text;
  overflow: hidden;
}
