$base-space: 30px;
$half-space: $base-space/2;
$dbl-space: $base-space*2;

// Colors
$color-text: rgb(107, 107, 107);
$color-text-light: #C9CABB;
$color-text-dark: rgb(43, 43, 43);

$color-logo: #ff5387;

$color-primary: #cce5ff;
$color-danger-dark: #ff5387;
$color-danger: #f8d7da;
$color-warning: #ffeeba;
$color-success: #c3e6cb;
$color-success-dark: #5daf70;
