.row {
  align-items: baseline
}

.base-margin {
  margin: $base-space;
}

.base-margin-top {
  margin-top: $base-space;
}

.base-margin-bottom {
  margin-bottom: $base-space;
}

.base-margin-left {
  margin-left: $base-space;
}

.base-margin-right {
  margin-right: $base-space;
}

.base-padding {
  padding: $base-space;
}

.base-padding-top {
  padding-top: $base-space;
}

.base-padding-bottom {
  padding-bottom: $base-space;
}

.base-padding-left {
  padding-left: $base-space;
}

.base-padding-right {
  padding-right: $base-space;
}

.half-margin {
  margin: $half-space;
}

.half-margin-top {
  margin-top: $half-space;
}

.half-margin-bottom {
  margin-bottom: $half-space;
}

.half-margin-left {
  margin-left: $half-space;
}

.half-margin-right {
  margin-right: $half-space;
}

.half-padding {
  padding: $half-space;
}

.half-padding-top {
  padding-top: $half-space;
}

.half-padding-bottom {
  padding-bottom: $half-space;
}

.half-padding-left {
  padding-left: $half-space;
}

.half-padding-right {
  padding-right: $half-space;
}


.dbl-margin {
  margin: $dbl-space;
}

.dbl-margin-top {
  margin-top: $dbl-space;
}

.dbl-margin-bottom {
  margin-bottom: $dbl-space;
}

.dbl-margin-left {
  margin-left: $dbl-space;
}

.dbl-margin-right {
  margin-right: $dbl-space;
}

.dbl-padding {
  padding: $dbl-space;
}

.dbl-padding-top {
  padding-top: $dbl-space;
}

.dbl-padding-bottom {
  padding-bottom: $dbl-space;
}

.dbl-padding-left {
  padding-left: $dbl-space;
}

.dbl-padding-right {
  padding-right: $dbl-space;
}
