.colored-rating {
  font-size: 1.5em;

  .rating-step-1 {
    color: #ff5387
  }

  .rating-step-2 {
    color: #f8d7da
  }

  .rating-step-3 {
    color: #ffeeba
  }

  .rating-step-4 {
    color: #c3e6cb
  }

  .rating-step-5 {
    color: #5daf70
  }
}
