#welcome {
  width: 100vw;
  height: 100vh;
  background-image: url("../static/images/welcome.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 100% auto
}

#button-recording {
  margin: 0 5px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  box-shadow: 0 0 0 2px white, 0 0 0 4px #e43d4d;
}
